<configuration>

    <!--//appender where you want to append the logs-->
    <appender name = "myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!--    <appender name="myFileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>-->
<!--            myApp.log-->
<!--        </file>-->

<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            myApp.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily + max size -->
            <fileNamePattern>myApp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>200KB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level = "TRACE">
        <appender-ref  ref = "myConsoleAppender"/>
        <appender-ref ref = "myFileAppender"/>
    </root>

</configuration>